
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f0f2f5;

}

.header {
    width: 100%;
    height: 15vh;
    background-color: #00aaff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.header-title {
    font-size: 2em;
    font-weight: 600;
}

.header-parrafo {
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    margin-top: 0.5em;
}

.aside {
    width: 25%;
    background-color: #ff5757;
    min-height: 80vh;
    padding: 2%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.algoritmos {
    background-color: #8e44ad;
    color: #fff;
    margin-top: 10%;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.algoritmos-title {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0.5em;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}

.algoritmos-text {
    font-size: 1em;
    padding-left: 10%;
    margin-bottom: 1em;
}

.algoritmos-button {
    display: block;
    width: 100%;
    padding: 0.75em;
    font-size: 1em;
    font-weight: 600;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.algoritmos-button:hover {
    background-color: #244f6c;
}

.toggle-input {
    display: none;
}

.algoritmos-content {
    display: none;
}

.toggle-input:checked + .algoritmos-title + .algoritmos-content {
    display: block;
}

.toggle-button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    user-select: none;
    pointer-events: none;
}

.footer{
    background-color: #333;
}

.footer-title {
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    color: #b4b4b5;
}

.footer-parrafo {
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    margin-top: 0.5em;
    color: #b4b4b5;
}
